<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Dental Clinic</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/patient_base.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}

        <table class="table table-striped">

          <tr>
            <td><a class="btn btn-success btn-lg btn-block" href="{% url 'home' %}">Home</a></td>
          </tr>
          {% if user.is_authenticated %}
          <tr>
            <td>
              <a class="btn btn-success btn-lg btn-block" href="{% url 'dentist-view'%}">Dentist List</a>
            </td>
          </tr>

          <tr>

            <td>
              <a class="btn btn-success btn-lg btn-block" href="{% url 'bookings:patient-booking' %}">My Bookings</a>
            </td>
          </tr>

          <tr>
            <td>
              <a class="btn btn-success btn-lg btn-block" href="{% url 'bookings:Booking-View' %}">Make a Booking</a>
            </td>
          </tr>

          {% block sideblock %} {% endblock %}

          <br>
          <br>
          {% csrf_token %}
          {% endif %}

        </table>

       <div class="search-bar">
        {% if user.is_authenticated %}
        <form  action="{% url 'search_patient' %}" method="get">
          <input name="q" type="text" placeholder="Search Appointments...">
        </form>
        {% csrf_token %}
        {% endif %}
       </div>
       {% endblock %}




      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</body>
</html>