

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    
    
    <title>Who are you?</title>
</head>

<body>



    <div class='buttons'>
        <h2 style="font-family:verdana;">Select one of the following: </h2>
        <a class="btn btn-success btn-lg" href="{% url 'verify' %}">I am a Staff</a>
        <br>
        <br>
        <a class="btn btn-success btn-lg" href="{% url 'patient_signup' %}">I am a Patient</a>
    </div>
    
</body>
</html>


