{% load static %}
    <!--<link rel="stylesheet" href="{% static 'css/topBarStyle.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



{% block content %}


    {% if form.errors %}
    <p>*Your name and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <body>
      
    </body>

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div class="loginTable">

      <table class="center" >
        <tr>
          <td>{{ form.username.label_tag }}</td>
          
          <td>{{ form.username }}</td>
        </tr>
        
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <br>
      <input class="btn btn-success btn-lg" type="submit" value="Login" />
      
      <input type="hidden" name="next" value="{{ next }}" />

    </div>
    
    </form>

{% endblock %}
